.eggxWidgetRoot {
  --primary-color: #a19d9d;
  --bgr-color: #151516;
  --accent-color: #f8df00;

  --font-family: "Arial", sans-serif;
  --transition-speed: 0.3s;
  --font-size-base: 16px;
  --font-size-lg: 24px;
  --line-height-base: 1.5;

  --border-radius: 8px;
  --spacing-unit: 8px;
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 32px;
  --button-padding: 8px 16px;

  --secondary-opacity: 0.5;
  --font-light-color: rgba(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b),
    var(--secondary-opacity)
  );
  --font-dark-color: rgba(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b),
    1
  );
  --secondary-text-color: rgba(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b),
    var(--secondary-opacity)
  );

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bgr-color);
  color: var(--font-light-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  box-sizing: border-box;
}

.eggxWidgetRoot \*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eggxWidgetRoot .countdownText {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  text-align: center;
}

.eggxWidgetRoot .widgetContainerImg {
  max-width: 1200px;
  padding: var(--gap-large);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgr-color);
}

.eggxWidgetRoot .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gap-large);
}

.eggxWidgetRoot button {
  appearance: none;
  padding: var(--spacing-unit) var(--gap-medium) !important;
  border-radius: var(--border-radius) !important;
  font-weight: bold !important;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease !important;
  width: 100% !important;
  font-size: 16px !important;
  margin: var(--gap-small) 0 !important;
  border: none;
  outline: none;
  box-shadow: none !important;
}

.eggxWidgetRoot button.primary {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color) !important;
  color: var(--bgr-color);
}

.eggxWidgetRoot button.secondary {
  background-color: transparent !important;
  border: 1px solid var(--secondary-text-color) !important;
}

.eggxWidgetRoot button:hover {
  filter: brightness(0.7);
}

.eggxWidgetRoot button:active {
  transform: scale(0.95);
  filter: brightness(0.85);
}

.eggxWidgetRoot input,
.eggxWidgetRoot textarea {
  background-color: transparent;
  color: var(--primary-color);
  padding: var(--spacing-unit) var(--gap-small);
  width: 100%;
  font-size: var(--font-size-base);
  margin-bottom: var(--gap-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-text-color);
}

.eggxWidgetRoot input:focus,
.eggxWidgetRoot textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 0 2px
    rgba(
      var(--primary-color-r),
      var(--primary-color-g),
      var(--primary-color-b),
      0.3
    );
}

.eggxWidgetRoot input::placeholder,
.eggxWidgetRoot textarea::placeholder {
  color: var(--font-dark-color);
}

.eggxWidgetRoot input[type="number"]::-webkit-outer-spin-button,
.eggxWidgetRoot input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.eggxWidgetRoot input[type="number"] {
  -moz-appearance: textfield;
}

.eggxWidgetRoot .w-100 {
  width: 100%;
}
.eggxWidgetRoot .stretch {
  display: flex;
  justify-content: space-between;
}
.eggxWidgetRoot .margin-top {
  margin-top: var(--gap-small);
}
.eggxWidgetRoot .margin-tb {
  margin: var(--gap-small) 0;
}
.eggxWidgetRoot .text-primary {
  color: var(--primary-color);
}
.eggxWidgetRoot .text-accent {
  color: var(--accent-color);
}
.eggxWidgetRoot .text-center {
  text-align: center;
}

.eggxWidgetRoot .heading {
  font-size: var(--font-size-lg);
}

.eggxWidgetRoot .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.eggxWidgetRoot .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.eggxWidgetRoot .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--font-dark-color);
  background-color: var(--bgr-color);
  transition: 0.4s;
  border-radius: 34px;
}

.eggxWidgetRoot .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: var(--font-dark-color);
  border-radius: 50%;
  transition: 0.4s;
}

.eggxWidgetRoot input:checked + .slider {
  background-color: var(--accent-color);
  border-color: var(--bgr-color);
}

.eggxWidgetRoot input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(--bgr-color);
}

.eggxWidgetRoot .footer {
  font-size: 0.625rem;
  margin-top: var(--gap-large);
  color: var(--secondary-text-color);
  text-align: center;
}

@media (max-width: 1024px) {
  .eggxWidgetRoot .widgetContainerImg {
    padding: var(--gap-medium);
  }
}

@media (max-width: 768px) {
  .eggxWidgetRoot .widgetContainerImg {
    padding: var(--gap-medium) var(--gap-small);
  }
}
