.eggxWidgetRoot {
  --widget-primary-color: #d0cfcf;
  --widget-bgr-color: "#151516";
  --widget-accent-color: #f8df00;

  --widget-font-soft-color: rgba(
    var(--widget-primary-color-r),
    var(--widget-primary-color-g),
    var(--widget-primary-color-b),
    0.6
  );
  --widget-font-hint-color: rgba(
    var(--widget-primary-color-r),
    var(--widget-primary-color-g),
    var(--widget-primary-color-b),
    0.3
  );

  --font-family: "Arial", sans-serif;
  --transition-speed: 0.3s;
  --font-size-base: 16px;
  --font-size-lg: 32px;
  --line-height-base: 1.5;

  --border-radius: 8px;
  --spacing-unit: 8px;
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 32px;
  --button-padding: 8px 16px;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--widget-bgr-light);
  color: var(--widget-font-soft-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  box-sizing: border-box;
}

.eggxWidgetRoot \*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eggxWidgetRoot .countdownText {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  text-align: center;
}

.eggxWidgetRoot .widgetContainerImg {
  max-width: 1200px;
  padding: var(--gap-large);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--widget-bgr-color);
}

.eggxWidgetRoot .img-container {
  display: flex;
  margin: 0 var(--gap-large);
  justify-content: center;
  align-items: center;
  padding: var(--gap-medium);
}

.eggxWidgetRoot button {
  appearance: none;
  padding: var(--spacing-unit) var(--gap-medium);
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease !important;
  width: 100% !important;
  font-size: 16px !important;
  margin-bottom: var(--gap-small);
  line-height: 1.3;
  border: none;
  outline: none;
  box-shadow: none !important;
}

.eggxWidgetRoot button.primary {
  background: linear-gradient(
    135deg,
    var(--widget-accent-color),
    color-mix(in srgb, var(--widget-accent-color) 70%, white)
  );
  box-shadow: 0 0 12px color-mix(in srgb, var(--widget-accent-color) 40%, black);
}

.eggxWidgetRoot button.secondary {
  background-color: var(--widget-bgr-light);
  color: var(--widget-font-soft-color-color);
}

.eggxWidgetRoot button.primary:hover {
  filter: brightness(0.7);
}

.eggxWidgetRoot button.secondary:hover {
  filter: brightness(1.3);
}

.eggxWidgetRoot button:active {
  transform: scale(0.95);
  filter: brightness(0.85);
}

.eggxWidgetRoot input,
.eggxWidgetRoot textarea {
  appearance: none;
  all: unset;
  background-color: var(--widget-bgr-dark);
  color: var(--widget-primary-color);
  padding: var(--spacing-unit) var(--gap-medium);
  font-size: var(--font-size-base);
  margin-bottom: var(--gap-medium);
  border-radius: var(--border-radius);
  border: 1px solid var(--widget-font-hint-color);
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.3;
  width: 100%;
  font-family: inherit;
}

.eggxWidgetRoot input:focus,
.eggxWidgetRoot textarea:focus {
  border-color: var(--widget-accent-color);
  outline: none !important;
}

.eggxWidgetRoot input::placeholder,
.eggxWidgetRoot textarea::placeholder {
  color: var(--widget-font-hint-color);
}

.eggxWidgetRoot input[type="number"]::-webkit-outer-spin-button,
.eggxWidgetRoot input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.eggxWidgetRoot input[type="number"] {
  -moz-appearance: textfield;
}

.eggxWidgetRoot .w-100 {
  width: 100%;
}
.eggxWidgetRoot .stretch {
  display: flex;
  justify-content: space-between;
}

.eggxWidgetRoot .m-top-sm {
  margin-top: var(--gap-small);
}
.eggxWidgetRoot .m-top-md {
  margin-top: var(--gap-medium);
}

.eggxWidgetRoot .m-btm-md {
  margin-bottom: var(--gap-medium);
}

.eggxWidgetRoot .m-btm-sm {
  margin-bottom: var(--gap-small);
}

.eggxWidgetRoot .my-sm {
  margin: var(--gap-small) 0;
}
.eggxWidgetRoot .text-primary {
  color: var(--widget-primary-color);
}
.eggxWidgetRoot .text-accent {
  color: var(--widget-accent-color);
}
.eggxWidgetRoot .text-center {
  text-align: center;
}

.eggxWidgetRoot .heading {
  font-size: var(--font-size-lg);
}

.eggxWidgetRoot .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.eggxWidgetRoot .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.eggxWidgetRoot .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--widget-font-hint-color);
  background-color: var(--widget-bgr-color);
  transition: 0.4s;
  border-radius: 34px;
}

.eggxWidgetRoot .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: var(--widget-font-hint-color);
  border-radius: 50%;
  transition: 0.4s;
}

.eggxWidgetRoot input:checked + .slider {
  background-color: var(--widget-accent-color);
  border-color: var(--widget-bgr-color);
}

.eggxWidgetRoot input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(--widget-bgr-color);
}

.eggxWidgetRoot .footer {
  font-size: 0.625rem;
  color: var(--widget-font-hint-color);
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .eggxWidgetRoot .widgetContainerImg {
    padding: var(--gap-medium);
  }
  .eggxWidgetRoot {
    --font-size-lg: 24px;
  }
}

@media (max-width: 768px) {
  .eggxWidgetRoot .widgetContainerImg {
    padding: var(--gap-medium);
  }
}
